body {
  background-color: #f5f5f5;
  color: #141414;
  font-family: "Source Sans Pro", serif;
  font-feature-settings: "kern";
  font-size: 1.1rem;
  line-height: 1.5;
  margin: auto;
  max-width: 41rem;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern";
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern";
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding-bottom: 1.5em;
  padding-top: 3em;
  text-align: center;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.08em;
}

.problem-title {
  all: inherit;
  display: inline;
}

.hash {
  color: #4070a0;
  visibility: hidden;
  float: left;
  margin-left: -1em;
}

.problem-title:hover .hash {
  visibility: visible;
}

.problem-statement {
  float: right;
}

p a:link, .problem-statement:link {
  color: #4070a0;
  text-decoration: none;
}

p a:hover, .problem-statement:hover {
  text-decoration: underline;
}

p a:active, .problem-statement:active {
  color: #205080;
}

pre {
  font-size: 1rem;
  overflow: scroll;
  padding: 0.5rem 0;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}

.intro, .solution {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
