<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Project Euler Solutions</title>
  <link href='https://fonts.googleapis.com/css?family=Cinzel|Source+Sans+Pro|Source+Serif+Pro|Source+Code+Pro' rel='stylesheet'>
  <link href='style.css' rel='stylesheet'>
</head>
<body>
  <h1>Project Euler Solutions</h1>
  <div class='intro'>{{{intro}}}</div>
  {{#solutions}}
    <div class='solution' id='{{problemNumber}}'>
      <h2>
        <a class='problem-title' href='#{{problemNumber}}'>
          <span class='hash'># </span>
          {{problemTitle}}
        </a>
        <a class='problem-statement'
            href='https://projecteuler.net/problem={{problemNumber}}'>
          {{problemNumber}}
        </a>
      </h2>
      {{{solutionBody}}}
    </div>
  {{/solutions}}
</body>
</html>
